[Unit]
Description=service for a wlan client capabilities analyzer
After=multi-user.target

# hardening
PrivateTmp=yes
ReadWritePaths=/var/www/html
ProtectSystem=strict
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Service]
Type=idle
ExecStart=/usr/sbin/profiler
