# wlanpi-profiler.service

[Unit]
Description=wlan client capabilities profiler
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/sbin/profiler
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes