# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run Python Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install ethtool iw
        python -m pip install --upgrade pip
        pip install tox
        if [ -f requirements.txt ]; then sudo pip install -r requirements.txt; fi
    - name: run tox linters
      id: linters-run
      continue-on-error: true
      run: |
        tox -e lint
    - name: Test with tox
      id: tox-run
      run: |
        tox
